<script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/maxkueng/victor/master/build/victor.min.js"></script>

<script>(function(){
  
  /* Canvas */
  var canvas = document.getElementById("nebula-canvas"),
      ctx = canvas.getContext("2d");

  /* Particle
   * @param p {Vector2} position
   * @param v {Vector2} velocity
   * @param r {number} radius
   * @param c {color} 
   */
  var Particle = function(p,v,r,c){
    this.position = new Victor(p.x,p.y),
    this.velocity = new Victor(v.x,v.y);
    this.radius = r;
    this.color=c||"black";
  };
  Particle.prototype = {
    //Update Position
    update: function(){
      this.position.add(this.velocity);
    },
    
    //Render the particle
    render: function(){
      drawCircle(this.position.x,this.position.y,this.radius,this.color);
    },

    //Return center point
    getCenter: function(){
      var cx = this.position.x + (ctx.measureText(this.text).width/2),
        cy = this.position.y - fontSize/2;
      return new Victor(cx,cy);
    }
  }
  
  //Helper function
  function drawCircle(cx,cy,r,fill,stroke,strokeWidth){
    ctx.beginPath();
    ctx.arc(cx,cy,r, 0, 2*Math.PI, false);
    ctx.fillStyle = fill ? fill : '#111';
    ctx.fill();
    ctx.lineWidth = strokeWidth ? strokeWidth : 1;
    ctx.strokeStyle = stroke ? stroke : '#111';
    ctx.stroke();
  }
  
  //GAME CONFIG
  /* ***************************** */
  var player = null;
  var suns = [];
  var planets = [];
  var debris = [];
  var entities = [];
  var sunGravity = .001,
      planetGravity = .005,
      maxPlayerSpeed = .3;
  /* ****************************** */
  
  /*Apply Gravity to a single particle
   *@param point {Vector object} gravity source position
   *@param magnitude {number} how much gravity to apply
   */
  function applyGravity(particle,point,magnitude){
    var force = point.clone()
      .subtract(particle.position)
      .normalize()
      .multiply({x:magnitude,y:magnitude});
    particle.velocity.add(force);
  }
  
  /*Update Everything*/
  function update(){

    //Sun gravity
    for (var s in suns){
      for (var p in planets){
        applyGravity(planets[p],suns[s].position,sunGravity);
      }
    }
    
    //Planet Gravity
    for (var p in planets){
      for (var d in debris){
        applyGravity(debris[d],planets[p].position,planetGravity);
      }
      if (player) applyGravity(player,planets[p].position,planetGravity);
    }
    
    //Throttle player speed
    if (player.velocity.length() > maxPlayerSpeed){
      player.velocity.norm().multiply({x:maxPlayerSpeed,y:maxPlayerSpeed});
    }
    
    //Update positions
    for (var i in entities){
      entities[i].update();
    }

  }
  
  /*Render Everything*/
  function render(){
    //Game Logic
    update();  
    
    //Clear canvas
    ctx.fillStyle = "white";
    ctx.fillRect(0,0,canvas.width,canvas.height);
    //ctx.clearRect(0,0,canvas.width,canvas.height);
    
    /*
    //Draw entities
    for (var i in entities){
      //entities[i].render();
    }
    */
    for (var i in debris){
      debris[i].render();
    }
    
    requestAnimationFrame(render);
  }
  /*Create Planet Object*/
  function createPlanet(position,sun){
    var p = new Victor(position.x,position.y);
    var vel = sun ? p.subtract(sun.position).rotateDeg(90).multiply({x:sunGravity*2,y:sunGravity*2}) : {x:0,y:0}
    var planet = new Particle(position,vel,10,"black");
    entities.push(planet);
    planets.push(planet);
    return planet;
  }
  
  /*Create Player Object*/
  function createPlayer(position,planet){
    var p = new Victor(position.x,position.y);
    var vel = planet ? p.subtract(planet.position)
                        .rotateDeg(90)
                        .multiply({x:planetGravity*2,y:planetGravity*2})
                        .add(planet.velocity)
                        : {x:0,y:0}
    
    var plyr = new Particle(position,{x:0,y:0},3,"blue");

    entities.push(plyr);
    player = plyr;
    return player;
  }
  /*Create Debris Object*/
  function createDebris(position,planet){
    var p = new Victor(position.x,position.y);
    var vel = planet ? p.subtract(planet.position)
                        .rotateDeg(90)
                        .multiply({x:planetGravity*2,y:planetGravity*2})
                        .add(planet.velocity)
                        : {x:0,y:0}
    
    var d = new Particle(position,{x:0,y:0},Math.random() * 5 + 3,"rgba(0,0,0,.9)");

    entities.push(d);
    debris.push(d);
    return d;
  }
  /*Create Sun Object*/
  function createSun(position){
    var sun = new Particle(position,{x:0,y:0},20,"black");
    entities.push(sun);
    suns.push(sun);
    return sun;
  }
  
  /*Initialize Game*/
  function init(){

    $(window).resize(function(){
      canvas.width=$(window).width();
      canvas.height=$(window).height();  
    })
    $(window).trigger('resize');
    
    var sun = createSun({x:canvas.width/2,y:canvas.height/2});
    
    for (var i=0; i <10;i++){
      createPlanet(new Victor().randomize({x:0,y:0},{x:canvas.width,y:canvas.height}),sun);
    }
    for (var i=0;i<150;i++){
      createDebris(new Victor(Math.random() * canvas.width,Math.random() * canvas.height));
      //createDebris(new Victor().randomize({x:0,y:0},{x:canvas.width,y:canvas.height}));
      //createDebris(new Victor(0,0).randomize(
                    //{x:canvas.width/2 - 500,y:canvas.height/2 -500},
                    //{x:canvas.width/2 + 500,y:canvas.height/2 +500}));
    
    player = createPlayer({x:0,y:0});

    render();
    //requestAnimationFrame(render);
  }

  init();

})();
</script>
